@font-face {
font-family: 'apercu';
src: url('../fonts/apercubold-webfont.woff2') format('woff2'),
     url('../fonts/apercubold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
font-family: 'apercu';
src: url('../fonts/aperculightitalic-webfont.woff2') format('woff2'),
url('../fonts/aperculightitalic-webfont.woff') format('woff');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'apercu';
src: url('../fonts/apercuregular-webfont.woff2') format('woff2'),
url('../fonts/apercuregular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
body.tool {
  background: grey;
}
.layout {
  display: flex;
}
.right {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  background: grey;
}
.container{
  transform-origin: 0 0;
  transform: scale(0.293870697);
  width: 495.172124265px;
  height: 700px;
}
body.downloading .container{
  transform: scale(1);
  width: 1685px;
  height: 2450px;
}
body.downloading .layout {
  display: block;
}
body.downloading .right {
  display: block;
  margin: 0;
}
body.downloading .setup {
  display: none;
}
body.downloading .poster img {
  width: 1685px;
  height: 1264px;
}
body.downloading {
  opacity: 0;
}

.fondo-blanco {
height: 950px;
width: 1685px;
position: absolute;
background-color: #FFF;
top: 1499px;
}

.fondo-azul {
height: 450px;
width: 1685px;
position: absolute;
background-color: #2b0f9a;
top: 1050px;
z-index: 2;
}

.poster {
  display: block;
  position: relative;
  background: white;
  width: 1685px;
  height: 2450px;
}
.poster img {
  width: 1685px;
  height: 1264px;
  position: absolute;
  z-index: 1;
}

.poster .title {
    position: absolute;
    font-family: 'apercu';
    left: 100px;
    right: 100px;
    top: 1100px;
    color: #f74d21;
    font-size: 140px;
    text-align: left;
    text-transform: none;
    font-weight: bold;
    line-height: 0.9;
    z-index: 3;
}

.poster .subtitle {
    position: absolute;
    font-family: 'apercu';
    left: 100px;
    right: 100px;
    top: 1355px;
    color: #FFF;
    font-size: 78px;
    text-align: left;
    text-transform: none;
    z-index: 4;
}
.poster .info {
  position: absolute;
  font-family: 'apercu';
  left: 74px;
  width: 1685px;
  top: 1600px;
  color: #010101;
  font-size: 60px;
  line-height: 75px;
  text-align: left;
  text-transform: none;
  left: 100px;
}

.poster .date {
  font-family: 'apercu';
  font-weight: bold;
  font-size: 100px;
}
.poster .time {
  font-family: 'apercu';
  font-weight: bold;
  font-size: 80px;
} 

.poster .location {
margin-top: 30px;
} 

.poster .location::before {
content:  "Lugar: ";
font-weight: bold;
}

.poster .duration::before {
content:  "Duración: ";
font-weight: bold;
} 

.poster .precio::before {
content:  "Precio: ";
font-weight: bold;
} 

.poster .logos {
  position: absolute;
  top: 2030px;
  left: 74px;
  right: 74px;
  bottom: 120px;
  border-top: 2px solid #010101;
  padding-top: 20px;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.poster .logos .section{
  width: 100%;
}
.poster .logos .section.summons {
  margin-right: 40px;
  flex-shrink: 4;
}
.poster .logos .section .text {
  font-family: 'apercu';
  font-size: 46px;
  color: #010101;
  text-transform: none;
}
.poster .logos .section .images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.poster .logos .section.summons .images{
  flex-wrap: nowrap; 
}
.poster .logos .section .images img {
  margin-top: 10px;
  height: 180px;
  width: auto;
  display: block;
  margin-right: 60px;
}
.poster .support-er,
.poster .support-affac,
.poster .support-madres{
  order: 2;
}
.poster .url {
  position: absolute;
  top: 2350px;
  left: 74px;
  right: 74px;
  bottom: 20px;
  padding-top: 0px;
  text-align: left;
  overflow: hidden;
}
.poster .url .text{
  font-family: 'apercu';
  font-size: 46px;
  color: #010101;
  text-transform: none;
  text-align: right;
}
.poster .url .text u{
  text-decoration: none;
  border-bottom: 2px solid;
}
.setup {
  padding: 20px;
  width: 100%;
  background: #efefef;
}

.setup a.back {
  color: #231F20;
  text-align: left;
  font: bold 16px/1.1 'apercu';
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}
.setup h1 {
  padding: 0 0 10px;
  color: #231F20;
  text-align: left;
  font: bold 50px/1.1 'apercu';
  max-width: 600px;
  margin: 0;
}

.setup p {
  margin: 0 0 20px;
  padding: 0;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
}

.setup .row {
  margin-bottom: 20px;
}

.setup label {
  color: #231F20;
  text-align: left;
  font: bold 20px/1.1 'apercu';
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.setup input[type=text]{
  width: 100%; 
  font-size: 20px;
  padding: 10px;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  background: #ffffff;
}

.setup input[type=file]{
  width: 100%;
  font-size: 18px;
  display: block;
  margin: 20px 0;
}

.shopify-select {
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: bottom;
  max-width: 100%;
}

.shopify-select select {
  color: #333;
  font-size: 18px;
  padding: 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.shopify-select .shopify-select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.setup input[type=checkbox]{
  margin-right: 10px;
}
.setup .checkbox {
  display: block;
  margin: 10px 0;
}
.setup .checkbox label {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 16px;
  display: inline-block;
}

.setup .download{
  text-decoration: none;
  display: block;
  text-align: center;
  color: white;
  background: #231F20;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  font-family: 'apercu', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1020px){
  .right {
    margin: 0;
  }
}
@media (max-width: 820px){
   .layout {
     flex-direction: column;
   }
   .right {
    order: -1;
    margin: 30px 0;
   }
   .container{
     transform: scale(0.178041543);
     width: 300px;
     height: 424px;
   }
   .setup {
     padding: 20px;
   }
   .setup h1 {
     padding: 0 0 10px;
     font: bold 34px/1.1 'apercu';
   }
   .setup a.back {
    display: none;
  }
}